{%extends 'base.html'%}
{% block content %} 
{{ block.super}}
{% include 'navbar.html' %}
<div class="container">
  

{% for image in images %}

  <div class="row">

 
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <img src="{{image.image.url}}" class="img-responsive img-thumbnail" alt="Image">
      <h2><a class="text-center" href="{{ image.id }}" > {{ image.image_name }} </a></h2>
      <p>{{image.image_description}}</p>
    </div>

    <div class="text-center">
      {%for category in image.category.all%}
      <nav class="nav nav-pills">
        <a href="#" class="nav-item nav-link active">{{category.image_name}}</a>
      </nav>
      {%endfor%}
      <button type="submit" class="btn btn-primary">
        Copy Link
      </button>
    </div>


  </div>

  {% empty %}
  <div class="row">
    <h2 class="text-center">No photos yet!</h2>
  </div>
  {% endfor %}

</div>
 
 


{% endblock %} 